{% extends 'base.html.twig' %}
{#{% form_theme courseForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}
    <h1>Créer un cours</h1>
    <div>
        {{ form_start(courseForm)}}
{#        {{ form_widget(courseForm) }}#}
        {{ form_row(courseForm.name) }}
        {{ form_row(courseForm.content) }}
        {{ form_row(courseForm.duration) }}
        {{ form_row(courseForm.published) }}
        <div class="d-flex">
            <div class="col-sm-9">
                {{ form_row(courseForm.image) }}
            </div>
            <div class="col-sm-3">
                {% if courseForm.vars.value.filename != null %}
                    <img src="{{ asset(app_images_course_directory ~ '/' ~ courseForm.vars.value.filename) }}"
                         class="img-fluid" alt="image" />
                    {{ form_row(courseForm.deleteImage) }}
                {% endif %}
            </div>
        </div>
        {{ form_row(courseForm.category) }}
        {{ form_row(courseForm.trainers) }}
        <button class="btn btn-primary btn-sm">Ajouter</button>
        {{ form_end(courseForm)}}
    </div>
{% endblock %}
{% block title %}
    Créer un cours | {{ parent() }}
{% endblock %}

