{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifier le cours</h1>
    <div>
        {{ form_start(courseForm)}}
        {{ form_widget(courseForm) }}
        <button class="btn btn-primary btn-sm">Modifier</button>
        {{ form_end(courseForm)}}
    </div>
{% endblock %}
{% block title %}
    Modifier un cours | {{ parent() }}
{% endblock %}