{% extends 'base.html.twig' %}
{% block title %}
    {{ course.name }} | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.content }}</p>
    <p>Durée (jours) : {{ course.duration }}</p>
    <p>Date création : {{ course.dateCreated | date('d/m/Y') }}</p>
    <p>Publié : {{ course.published ? "Oui" : "Non" }}</p>
    <div class="card mt-2 mb-2 w-50 m-auto">
        {% if course.filename %}
            <img src="{{ asset('./'~app_images_course_directory ~ '/' ~ course.filename) }}"
                 class="card-img-top img-fluid" alt="image" />
        {% endif %}
    </div>

    <p>Catégorie : {{ course.category ? course.category.name : '?' }}</p>
    <p>Liste des formateurs :</p>
    <ul>
        {% for trainer in course.trainers %}
            <li>
                {{ trainer.firstname ~ ' ' ~ trainer.lastname }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}