{% extends "base.html.twig" %}
{% block body %}
    <h1>Test</h1>
    <div>
        {# crée une variable ! #}
        {% set name = "Denis" %}
        <h2>{{ name }}</h2>

        {# crée une variable la mettre en majuscule ! #}
        {% set name = "Philippe" %}
        <h2>{{ name | upper }}</h2>

        {# crée une variable et afficher sa longueur! #}
        {% set name = "Denis" %}
        <h2>{{ name | length }}</h2>
    </div>

    {# crée un tableau #}
    {% set colors = ["orange", "brown", "turquoise", "blue"] %}
    {% for color in colors %}
        <div style="background-color:{{ color }} ">{{ color }}</div>
    {% endfor %}

    {# crée un tableau Sur le tableau de couleurs, appliquer des filtres (length, join, etc.) et afficher l’index de
l’itération avec loop. #}
    {% set colors = ["orange", "brown", "turquoise", "blue"] %}
    <p> nombre de couleurs : {{ colors | length }}</p>
    <p>{{ colors | join(' / ') }}</p>
    {% for color in colors %}
        <p>{{ loop.index }}</p>
        <div style="background-color:{{ color }} ">{{ color }}</div>
    {% endfor %}

    {# un objet #}
    {% set book = {
        title: 'Symfony',
        year: 2000,
        author: "John Doe"}
    %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key, val in book %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
    {# Formater une date #}
    <p>{{ "+1 year" | date('Y') }}</p>

    <p>{{ mySerie.title }} {{ autreVar }}</p>
    <p>{{ mySerieHTML.title }}</p>
    <p>{{ mySerieHTML.title |raw}}</p>

{% endblock %}
{% block title %}{{ parent() }} | Test{% endblock %}