body {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    padding: 5px;
}
footer {
    background-color: #fff;
    height: 2em;
}