{%  extends 'base.html.twig' %}
{% block title %}Démo API | parent(){% endblock %}
{%  block body %}
    <h1>Liste des régions</h1>
    <table class="table-bordered">
        {% for region in regions %}
            <tr>
                <td>{{ region.code }}</td>
                <td>{{ region.nom }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}